<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <title>Admin Dashboard</title>
  <title>Document</title>

  <script>
    $(document).ready(function () {
      $("#myTable").DataTable();
    });
  </script>
  

</head>

<body style="color:black">
  <%-include('../partials/adminNavbar.ejs')%>
  <div id="dashboard">
    <hr>
    <center>
      <h2 style="color: black;">View Mating Dog Request List</h2>
    </center>
    <hr>
    <div class="table-responsive" style="margin-top: 30px; width: 70rem;">
      <table class="table table-striped table-bordered" id="myTable">
        <thead>
          <tr>
            <th>Dealer Dog Breed</th>
            <th>Dealer Dog Gender</th>
            <th>Mating Date</th>
            <th>Customer Dog Breed</th>
            <th>Customer Dog Gender</th>
            <th>Address</th>
            <th>Vaccination</th>
            <th>Customer Email ID</th>
            <th>Contact Number</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody><br>
          <% result.forEach((user) => { %>
          <tr>
            <td><%= user.dealerdogBreed %></td>
            <td><%= user.dealerdogGender %></td>
            <td><%= user.matingDate %></td>
            <td><%= user.CustomerdogBreed %></td>
            <td><%= user.CustomerDogGender %></td>
            <td><%= user.address %></td>
            <td><%= user.vaccination %></td>
            <td><%= user.customerEmail_id %></td>
            <td><%= user.contactno %></td>
            <td>
              <button class="btn" style="background-color: #54B435;">
                <a style="text-decoration: none;color: rgba(0, 0, 0, 0.757);" href="/admin/adminProvideTimecustomer/<%= user.customerEmail_id %>">Massage</a>
              </button>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  
</body>

</html>