<%-include('../partials/BootstrapLinks.ejs')%>
<div class="row" style="background-color:#85e241;">

      <center>
            <hr>
            <h3><b>UPDATE MATING DOG</b></h3>
            <hr>
        </center>
        <form action="/dealer/updateDogForMating/<%=dogUpdateData._id%>" method="post"  enctype="multipart/form-data">
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control inputform" id="dogname" value="<%=dogUpdateData.dogname%>"
                        placeholder="Enter your Dog Name" style="width: 28rem;border-radius: 2rem;"
                        name="dogname">
                    <small id="name-error-msg" style="color: red;"></small>
                    <p id="index"></p>
                </div>
                <div class="form-group mt-2">

                    <select name="dogBreed" id="Breed"
                        style="width: 28rem;height: 2.5rem;border-radius: 1rem;background-color: white;border: 1px solid skyblue;">
                        <option value="<%=dogUpdateData.dogBreed%>"><%=dogUpdateData.dogBreed%></option>
                        <option value="Germen Shepherd">Germen Shepherd</option>
                        <option value="pug">pug</option>
                        <option value="Boxer">Boxer</option>
                        <option value="Miltese">Miltese</option>
                        <option value="Akita">Akita</option>
                        <option value="Beagle">Beagle</option>
                        <option value="Golden Retriever">Golden Retriever</option>

                    </select>
                </div>
                <div class="form-group mt-2">
                    <input type="text" class="form-control inputform" id="breedDescription"
                        placeholder="Enter Dog Breed Description" name="breedDescription"
                        style="width: 28rem;border-radius: 2rem;" value="<%=dogUpdateData.breedDescription%>">
                </div>
                <div class="form-group mt-2">
                    <input type="text" value="<%=dogUpdateData.location%>" class="form-control inputform" id="Address" placeholder="Enter Address"
                        name="location" style="width: 28rem;border-radius: 2rem;">
                </div>
                <label for="Gender">Gender</label>
                
                <div class="form-check">
                    <input class="form-check-input"  type="radio" <% if
                    (dogUpdateData.gender==='Male' ) { %>checked<% } %> value="Male" name="gender" id="Male">
                    <label class="form-check-label" for="Male">
                        Male
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input"  <% if (dogUpdateData.gender==='Female' ) { %>checked<% } %> type="radio" value="Female" name="gender" id="Female">
                    <label class="form-check-label" for="Female">
                        Female
                    </label>
                </div>
                <div>
                    <input type="file" name="avtar" id="avtar" accept="image/*">
                </div><br>


                <div class="">
                    <button type="submit" class="btn"
                        style="background-color: #54B435;width: 28rem;border-radius: 2rem;font-weight: bolder;"
                        id="">UPDATE</button><br><br>
                </div>

            </div>
        </form>

</div>


